---
import { getEntry } from "astro:content";
import MarkdownPageEditor from "@/components/edit/MarkdownPageEditor.svelte";
import I18nKey from "@/i18n/i18nKey";
import { i18n } from "@/i18n/translation";
import MainGridLayout from "@/layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const aboutText = aboutPost.body ?? "";
---
<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <div class="flex w-full rounded-(--radius-large) overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <div data-no-swup>
                <MarkdownPageEditor
                    client:only
                    filePath="src/content/spec/about.md"
                    pageName="关于页面"
                    initialContent={aboutText}
                />
            </div>
        </div>
    </div>
</MainGridLayout>